:root{
    --white-color: #fff;
    --text-btn: #CCCCCC;
    --button: #B47B48;
    --button-buy: #C85312;
    --headline: #D9D9D9;
    --main-bg: #202023;
    --bg-hover: #EBAD51;

}
p,
ul,
li,
h1,
h2,
h3,
h4,
button,
img {
    padding: 0;
    margin: 0;
}
.body{
    font-family:'Inter', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: var(--white-color);
    line-height: 1.21;
}
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 55px 15px 71px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
}
button{
    cursor: pointer;
}
.container{
    width: 1190px;
    padding: 0 15px;
    margin: 0 auto;

}
body{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    background-color: var(--main-bg);
    color: var(--white-color);
}

.navigation-list{
    list-style-type: none;
    display: flex;
    gap: 28px;
}
.navigation-list-item{
    display: inline-block;
    margin-right: 20PX;
    color: var(--white-color);
}
.hero{
    background-image: url(../background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 155px 0 36px;



}
.hero-headline, .hero-text{
    max-width: 575px;
}
.hero-headline{
    font-weight: 200;
    font-size: 70px;
    margin-bottom: 22px;

}

.hero-button-shop{
    background-color: #B47B48;
    color: var(--white-color);
    font-family: 'Inter', sans-serif;
    display: inline-block;
    font-weight: 300;
    padding: 16px 34px 7px;
    border-radius: 17px;
    margin: 33px 0 125px;
    border: none;

}
.cards-list{
    display: flex;
    justify-content: space-between;
}
.cards-list-item{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 12px;
    padding-bottom: 43px;
    background-color: var(--main-bg);
    display: block;
    width: 310px;
    height: 225px;
    background-repeat: no-repeat;
    background-position: left;
}
.cards-list-item:hover{
    background-color: var(--bg-hover);
}

.cards-list-item:first-child{
    padding-top: 51px;
    padding-left: 162px;
    background-image: linear-gradient(66deg, #000 0%, rgba(0, 0, 0, 0) 100%), url(../imgAmericanCockie.png);
}
.cards-list-item:nth-child(2){
    background-image: linear-gradient(66deg, #000 0%, rgba(0, 0, 0, 0) 100%), url(../imgCrushedwithchockolate.png);
    padding-top: 51px;
    padding-left: 200px;
}
.cards-list-item:nth-child(3){
    background-image: linear-gradient(66deg, #000 0%, rgba(0, 0, 0, 0) 100%), url(../imgbluberry-pie.png);
    padding-left: 185px;
    padding-top: 27px;
}
.cards-list-headline{
    text-align: center;
}
.cards-list-text{
    margin-top: 17px;
    margin-bottom: 35px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.hero-button{
    display: block;
    margin: 0 auto;
    font-weight: 500;
    width: 79px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.21;
    border: none;
    padding: 12px 22px 7px;
    color: var(--white-color);
    background-color: var(--button-buy);
}
.menu{
    padding-top: 25px;
    padding-bottom: 75px;
}
.menu-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 200px;
    row-gap: 12px;

}
.menu-list-item{
    width: 328px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-title{
    text-align: center;
    font-size: 64px;
    font-weight: 100;
    margin-bottom: 17px;
}
.menu-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 328px;
    height: 250px;
    border: 1px solid white;
    padding-bottom: 1px;
    padding-top: 15px;
}
.menu-box-photo{
    display: block;
    height: 210px;
    padding-top: 0;
}
.menu-box-title{
    text-align: center;
    margin: 0;
}
.menu-box-title , .menu-list-button{
    font-size: 25px;
    font-weight: 800;
}
.menu-list-button{
    color: #fff;
    background-color: var(--button);
    border: none;
    border-radius: 17px;
    padding: 9px 44px;
    margin-top: 10px;  

}
.bakery{
    background-image: url(../bakery-bg-1.png);
    background-position: bottom;
    background-repeat: repeat-x;
    padding-top: 86px;
    padding-bottom: 49px;
}
.bakery-headline{
    font-family: 'Inter',serif;
    font-weight: 400;
    font-size:  64px;
    text-align: center;

}
.bakery-list{
    display: flex;
    align-items: center;
    height: 700px;
    justify-content: space-between;

}
.bakery-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bakery-list-item:nth-child(1){
    align-self: flex-start;
}
.bakery-list-item:nth-child(2){
    align-self: center;
}
.bakery-list-item:nth-child(3){
    align-self: flex-end;
}
.composition-box{
    padding: 30px 5px 60px 45px ;
    background-color: gray;
}
.bakery-text{
    font-weight: 500;
}
.traditional{
    background-image: linear-gradient(89deg, #000 0%, rgba(3, 3, 3, 0) 100%), url(../background2.jpg);
    
    padding-top: 57px;
    padding-bottom: 52px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.traditional-headline{
    font-weight: 400;
    font-size: 48px;
    margin: 33px 0 125px;
}
.traditional-list{
    display: flex;
    justify-content: space-between;
}
.contacts{
    padding-bottom:51px;
    padding-top:77px;
}
 .contacts-headline{
    margin-bottom:55px;
 }
 .contacts-box{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    
 }
 .contacts-how{
    width: 230px;
    display:flex;
    flex-direction:column;
 }
 .info-when-time{
    width: 138px;
    text-align:center;
 }

 .info-when-title{
    text-align:center;

 }
 .contacts-how-title, .info-when-title{
    font-weight:400;
    font-size:40px;
    margin-bottom:54px;
 }
 .contacts-how-number, .contacts-how-tiktok, .contacts-how-inst{
    font-weight:300;
 }
 .contacts-how-number{
    margin-bottom:65px;
 }
 .contacts-how-tiktok, .contacts-how-inst{
    margin-bottom:32px;
 }

 .footer , .contacts{
    background-color: rgb(27, 26, 26);
}
.footer-info-title{
    font-weight:200;
    font-size:40px;
    width: 325px;
    margin-bottom:15px;
}
.footer-cont{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:85px;

}
 .container-footer{
    display: flex;
    justify-content: space-between;
}


 .footer-copyright{
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    margin-bottom: 17px;
 }


     
    

